

.contenido-agrcultor {
    background-color: #2B303A;
    border-radius: 2rem;
}

.input {
    font    : 1.4em/1.5em "handwriting", cursive, sans-serif;
    border  : none;
    padding : 0 10px;
    margin  : 0;
   color: white;
    background : none;
}

.contenido-input {
    display: flex;
    flex-direction: column;
}

.division-contenido {
    margin-top: 10rem;
    padding: 1rem;
    color: white;
    
}

.input:focus {
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
    color: white;
  }

  label {
color: white;
margin: 1rem;
  }

  