.home-agricultor {
    margin-top: 20rem;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.parrafo-home {
    color: black;
    font-style: italic;
    margin-top: 1rem;
}