.grid-productos {
    margin-top: 10rem;
    
    
}

@media (min-width: 780px) {
    .grid-productos {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

.productos {
    background-color: black;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.correcion {
    height: 5rem;
    align-items: center;
    padding: 0;
}